@font-face {
	font-family: "Chillax";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/chillax/500.ttf") format("truetype");
}
@font-face {
	font-family: "Chillax";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/chillax/600.ttf") format("truetype");
}
@font-face {
	font-family: "Chillax";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/chillax/700.ttf") format("truetype");
}
@font-face {
	font-family: "Space Mono";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/space-mono/400.ttf") format("truetype");
}
@font-face {
	font-family: "Space Mono";
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/space-mono/400-italic.ttf") format("truetype");
}
@font-face {
	font-family: "Space Mono";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/space-mono/700.ttf") format("truetype");
}

:root {
	font-family: "Space Mono", Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: dark;
	color: rgba(255, 255, 255, 0.94);
	/* color: #111; */
	/* background-color: #111; */
	background-color: var(--purple-300);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--sans-serif: "Chillax", Inter, Avenir, Helvetica, Arial, sans-serif;
	--mono: "Space Mono", monospace;

	/* Colors */
	--pink-50: #ffecf0;
	--pink-100: #ffc7d1;
	--pink-100: #ffa1b3;
	--pink-200: #ff7b95;
	--pink-300: #ff5676;
	--pink-400: #ff4367;
	--pink-500: #e63c5d;
	--pink-600: #b32f48;
	--pink-700: #802234;
	--pink-800: #4c141f;
	--pink-900: #19070a;

	--purple-50: #dddaff;
	--purple-100: #bbb5ff;
	--purple-100: #9a8fff;
	--purple-200: #786aff;
	--purple-300: #5645ff;
	--purple-400: #4d3ee6;
	--purple-500: #3c30b3;
	--purple-600: #2b2380;
	--purple-700: #1a154c;
	--purple-800: #090719;
}
::-webkit-scrollbar {
	width: 4px;
	border-radius: 8px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: white;
}
::-webkit-scrollbar-thumb:hover {
	background-color: whitesmoke;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	font-weight: 500;
	color: var(--pink-200);
	text-decoration: inherit;
	text-decoration: underline;
	transition: 0.3s;
}
a:hover {
	color: var(--pink-300);
}
p a {
	font-weight: 500;
	color: var(--pink-200);
	opacity: 0.8;
	text-decoration: inherit;
	text-decoration: underline;
	transition: 0.3s;
}
p a:hover {
	color: var(--pink-300);
	opacity: 1;
}

body {
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#app {
	display: flex;
	flex-direction: column;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

section {
	width: 100%;
}

.container {
	max-width: 1240px;
	padding: 0 1em;
	width: 100%;
	margin: 0 auto;
}

@keyframes pulsate {
	0% {
		opacity: 0.1;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.1;
	}
}

/* -------- Flex utility classes -------- */
.flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.justify-between {
	justify-content: space-between;
}
.justify-center {
	justify-content: center;
}
.items-center {
	align-items: center;
}
